html {
  font-family: sans-serif;
}

/* Basic Box Style */
.cool-box {
  width: 200px;
  height: 150px;
  margin: 100px auto; /* centers horizontally with top spacing */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;



}  