/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* Font faces */
@font-face {
  font-family: "Merriweather";
  src: url("Merriweather-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-Regular.woff2") format("woff2");
}

html {
  font-size: 10px; /* Base font size for rem units */
}

body {
  font-family: "Merriweather", serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  color: #222;
}

h1, h2, h3 {
  font-family: "Roboto Slab", sans-serif;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2.4rem;
  margin-bottom: 1rem;
}

/* Selector which will target the first paragraph that comes immediately after an h2 */
section > h2 + p {
  text-indent: 20px;
}

/* Link styles */
a:link,
a:visited {
  color: #a66;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #c33;
  text-decoration: none;
  outline: none;
}

a:active {
  color: #000;
  background-color: #ffc;
  font-weight: bold;
}

/* External links */
a[href^="http"]:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url('external-link-52.png') no-repeat center;
  background-size: contain;
  margin-left: 4px;
}

